<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>

    <main class="container text-center">
      <h1><%= grocery.title %></h1>
      <a href="/grocery/<%= grocery.id %>/edit" class="btn btn-warning">Edit</a>
      <a href="/grocery/<%= grocery.id %>/products/new" class="btn btn-success">New Product</a>
      <form style="display:initial" action="/grocery/<%= grocery.id %>/destroy" method="post">
        <button type="submit" class="btn btn-danger">Delete</button>
      </form>
      <hr>

      <h1>Products</h1>
   
      <ul class="list-group">

        <% grocery.products.forEach((product) => { %>

          <li class="list-group-item">
              <a href="/grocery/<%= grocery.id %>/products/<%= product.id %>"> <%= product.title %></a>
              <h6>Product purchased: <%= product.purchased %></h6>
          </li>
        <% }) %>

      </ul>
    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>