<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>

    <main class="container text-center">
      <h1><%= grocery.title %></h1>
      <a href="/grocery/<%= grocery.id %>/edit" class="btn btn-warning">Edit</a>
      <form style="display:initial" action="/grocery/<%= grocery.id %>/destroy" method="post">
        <button type="submit" class="btn btn-danger">Delete</button>
      </form>
      <hr>

      <h3>Products</h3>
      <a href="/grocery/<%= grocery.id %>/products/new" class="btn btn-success">Add a Product</a>
      <ul class="list-group">

        <% grocery.products.forEach((product) => { %>

          <li class="list-group-item">
              <a href="/grocery/<%= grocery.id %>/products/<%= product.id %>"> <%= product.title %></a>
              <% if(product.purchased === true) { %>
              <h6>Product purchased: Yes</h6>
              <% } else { %>
              <h6>Product purchased: No</h6>
              <% } %>

          </li>
        <% }) %>

      </ul>
    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>